{% load staticfiles %}
<div>
    <br><br><br>
</div>
<footer class="py-3 bg-dark" id="footer">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 2021 changyipeng.com All Rights Reserved.
        <br>
        <a class="text-white" target="_blank" href="http://beian.miit.gov.cn/">
            备案号：豫ICP备2021036254号&nbsp;&nbsp;</a>
        <a class="text-white" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=41172102000191">
            <img src="{% static "anbei.png" %}" />&nbsp;豫公网安备 41172102000191号</a>
 </p>

    </div>

</footer>